.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
@font-face {
  font-family: myfont;
  src: url('../../assets/Roboto-Medium.ttf');
}
@font-face {
  font-family: myfont2;
  src: url('../../assets/Roboto-Light.ttf');
}
.topLevel-content {
  --background: none;
  background: url('../../assets/Background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.dashboard-card {
  border-radius: 6px;
  background-color: rgb(238, 238, 238);
  box-shadow: none;
}
.card-content {
  font-family: myfont;
  color: black;
  align-items: center;
  vertical-align: middle;
}
.heading-text {
  font-size: large;
  font-family: myfont;
  color: black;
}
.welcome-text {
  font-family: myfont2;
  color: black;
}
.avatar {
  height: auto;
  width: auto;
}
.card-row {
  margin-top: -20px;
}
