<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Education App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="topLevel-content" *ngIf="loggedIn">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-margin-top">
      <ion-col class="ion-margin-top">
        <ion-text class="welcome-text">
          <h3 class="ion-no-margin  ion-padding-start">
            Welcome back
          </h3>
        </ion-text>
        <ion-text class="heading-text">
          <h3 class="ion-no-margin ion-padding-start">
            Aakash Patil
          </h3>
        </ion-text>
      </ion-col>
      <ion-col size="auto" class="ion-margin-top">
        <ion-avatar class="avatar ion-padding-end">
          <img src="../../assets/Ellipse 11.svg" />
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-card class="dashboard-card" button (click)="cardClick()">
          <ion-card-content class="ion-no-padding">
            <ion-grid>
              <ion-row class="card-content">
                <ion-col size="auto">
                  <img src="../../assets/notes.svg" alt="" />
                </ion-col>
                <ion-col class="ion-no-padding ion-text-center">
                  <ion-text>
                    Importants
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="dashboard-card" button (click)="cardClick()">
          <ion-card-content class="ion-no-padding">
            <ion-grid>
              <ion-row class="card-content">
                <ion-col size="auto">
                  <img src="../../assets/lecture.svg" alt="" />
                </ion-col>
                <ion-col class="ion-no-padding ion-text-center">
                  <ion-text>
                    Lecture
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="card-row">
      <ion-col>
        <ion-card class="dashboard-card" button (click)="cardClick()">
          <ion-card-content class="ion-no-padding">
            <ion-grid>
              <ion-row class="card-content">
                <ion-col size="auto">
                  <img src="../../assets/calendar.svg" alt="" />
                </ion-col>
                <ion-col class="ion-no-padding ion-text-center">
                  <ion-text>
                    Attendance
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="dashboard-card" button (click)="cardClick()">
          <ion-card-content class="ion-no-padding">
            <ion-grid>
              <ion-row class="card-content">
                <ion-col size="auto">
                  <img src="../../assets/board.svg" alt="" />
                </ion-col>
                <ion-col class="ion-no-padding ion-text-center">
                  <ion-text>
                    Courses
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf="!loggedIn" class="card">
  <ion-grid style="height: 100%">
    <ion-row
      class="ion-justify-content-center ion-align-items-center"
      style="height: 100%"
    >
      <ion-icon name="log-in"></ion-icon>&nbsp;Please Login to continue
    </ion-row>
  </ion-grid>
</ion-content>
